/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  background-color: aliceblue;
  border-radius: 3rem;
}

.navb {
  display: flex;
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header {
  align-content: center;
  margin-left: 4.5rem;
  /* background-color: rgba(188, 225, 226, 0.801); */
}

.fa {
  align-items: flex-end;
  margin-left: 6rem;
}

.avator {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}
.btn2 {
  font-size: 0.4rem;
  padding: 0.2rem;
  background-color: orangered;
  border-radius: 2rem;
  border-color: orangered;
  border-width: 0em;
}
.about {
  font-size: 0.8rem;
}

.card1 {
  background-color: aliceblue;
  border-color: aliceblue;
  border-width: 0em;
}
.card2 {
  background-color: white;
  border-color: aliceblue;
  border-width: 0em;
}
.card-header {
  background-color: aliceblue;
  border-color: aliceblue;
  border-width: 0em;
}
.book {
  height: 4.4rem;
  width: 3.3rem;
}
.cardRow {
  border-bottom: 0.2rem;
  border-bottom-color: black;
}
.bookAuth {
  font-size: 0.7rem;
}
.bookName {
  font-size: 1rem;
}
.pie-box {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  background-color: black;

  background: repeating-conic-gradient(
    from 0deg,
    black 0deg 210deg,
    white 210deg 360deg
  );
}
.pie-box2 {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  background-color: black;

  background: repeating-conic-gradient(
    from 0deg,
    black 0deg 160deg,
    white 160deg 360deg
  );
}
